#am-table {
    height: 100%;
    width: 100%;
    color: #C2C3C6;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    top: 0; left: 0;
}

#amt-head div > .sort {
    cursor: pointer !important;
}

#amt-head .sort button {
    font-size: 17px;
    padding: 3px 5px;
    color: #FCFCFC;
    background-color: transparent;
    border: 0;
    outline: 0;
}

#amt-head {
    height: 55px;
    width: 100%;
    color: #F5F7FF;
    background-color: #1A222B;
}

#amt-head/*.scroll*/ {
    
    box-shadow: 1px 0.5px 7px #222;
}

#am-table > * > * {
    height: 100%;
    display: inline-block;
    float: left;
}

#am-table div > span {
    display: inline-block;
    float: left;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
}

#at-action .trash.hidden {
    display: none;
}

#at-action .select_all.hidden {
    display: none;
}

#at-action .loader.spin {
    animation: spin 1.4s;
}

#amt-head div > span {
    padding: 15px 0;
}

#am-table .identity {
    width: 20%;
}

#am-table .identity span {
    width: 50%;
}

#am-table .subjects {
    width: 50%;
}

#am-table .subjects span {
    width: 20%;
}

#am-table .action {
    width: 10%;
}

#am-table .action span {
    width: 100%;
}

#am-table .other {
    width: 20%;
    margin-left: auto;
    margin-right: 0;
}

#am-table .edit .other {
    width: 10%;
}

#am-table .other span {
    width: 50%;
}

#amt-body {
    height: calc(100% - 55px);
    overflow: auto;
}


#am-table .row {
    height: auto;
    width: 100%;
}

#am-table .row .cover:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

#am-table .row > .cover {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#am-table .row > .cover.selected {
    background-color: rgba(69, 162, 158, 0.3);    
}

#am-table .row > .cover .identity span:first-child {
    cursor: pointer !important;
}

#am-table .row > .cover > div {
    height: 100%;
    display: inline-block;
    float: left;
}

#amt-body .row > .edit {
    height: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.04);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition-duration: 120ms;
    -o-transition-duration: 120ms;
    transition-duration: 120ms;
}

#amt-body .row > .cover.active + .edit {
    height: 50px;
}

#amt-body .row > .edit > * {
    display: inline-block;
    float: left;
}

#amt-body span.fail {
    color: #FF2020;
    font-weight: bold;
}

#amt-body .row > .edit > div {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

#amt-body .row > .edit input {
    border: 0; outline: 0;
    font-size: 18px;
    background-color: transparent;
    color: #C2C3C6;
    width: 70px;
    float: left;
    padding: 2px 0;
    margin: 0 calc(10% - 41px);
    text-align: center;
    margin-left: calc(10% - 29px);
}

#amt-body .row > .edit .identity input {
    width: 90px;
    margin-left: calc(25% - 45px);
}

#amt-body .row > .edit .other {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

#amt-body .row > .edit .other button {
    font-size: 17px;
    padding: 3px 6px;
    cursor: pointer;
    color: #FCFCFC;
    background-color: transparent;
    border: 0;
    outline: 0;
}

#amt-body .row > .cover .action {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
}

#amt-body .row > .cover .action button {
    font-size: 17px;
    padding: 3px 6px;
    cursor: pointer;
    color: #FCFCFC;
    background-color: transparent;
    border: 0;
    outline: 0;
}

#amt-body .row > .cover .action button:last-child {
    color: #FF2020;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}


#amt-body .row > .cover.new {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}

#amt-body .row.empty {
    height: calc(100% - 100px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.04);
}

#amt-body .row.empty button {
    font-size: 56px;
    padding: 3px 5px;
    color: #FCFCFC;
    display: block;
    background-color: transparent;
    border: 0;
    outline: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#amt-body .row.empty button span {
    font-size: 18px;
    display: block;
    margin-top: 14px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(2px, 2px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, -2px, 0);
  }
}

#tutorial {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    color: #C2C3C6;
    background-color: #1F2833;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#tutorial button {
    font-size: 18px;
    padding: 3px 6px;
    cursor: pointer;
    color: #FCFCFC;
    background-color: transparent;
    border: 0;
    outline: 0;
}

#app-foot {
    height: 60px;
    width: 100vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -60px; left: 0;
    -webkit-transition-duration: 90ms;
    -o-transition-duration: 90ms;
    transition-duration: 90ms;
}

#app-foot.active {
    bottom: 0;
}

#app-foot .progress {
    height: 8px;
    width: 360px;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}

#app-foot .state {
    height: 100%;
    background-color: #fff;
}