@charset "utf-8";

body {
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    color: rgb(32, 33, 36);
    background-color: rgb(220, 220, 250);
    font-family: 'Noto Sans TC', sans-serif;
}

s-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    position: relative;
}

sf-part {
    display: inline-block;
}

input:not([type=checkbox]):not([type=radio]) {
    width: 400px;
    font-size: 28px;
    outline: 0;
    padding: 10px 20px;
    border: 0;
    background-color: white;
    border-radius: 8px;
    display: block;
    margin: 16px;
}

radio-group {
    width: 400px;
    border: 0;
    background-color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 16px;
}

radio-group > span {
    font-size: 28px;
    margin: 4px;
    display: block;
}

label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    font-size: 24px;
    align-items: center;
}

radio-group input {
    margin: 18px 8px;
    margin-right: 20px;
    display: inline-block;
}

multi-select {
    width: 400px;
    border: 0;
    background-color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 16px;
}

multi-select > span {
    font-size: 28px;
    margin: 8px;
    display: block;
}

multi-select label {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    margin: 6px 3px;
    font-size: 24px;
}

multi-select input {
    display: inline-block;
    margin: 10px 8px;
    font-size: 24px;
    margin-left: 0;
    display: inline-block;
}

sel-field {
    width: 400px;
    border: 0;
    background-color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 16px;
}

sel-field > span {
    font-size: 28px;
    margin: 4px;
    display: block;
}

sel-field select {
    width: 384px;
    outline: 0;
    margin: 31.5px 11px;
    font-size: 24px;
    background-color: transparent;
}

button.submit {
    background-color: transparent;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 36px;
    bottom: -24px;
}

s-notify {
    height: auto;
    width: 400px;
    top: 10px;
    left: 0; right: 0;
    margin: auto;
    position: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    z-index: 225;
}

s-notify > div {
    margin: 5px 0;
    padding: 8px 12px;
    min-width: 300px;
    border-radius: 2px;
    border: 1px solid hsla(0, 0%, 100%, .2);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    opacity: 1;
    color: rgb(252, 252, 252);
    background-color: rgb(62, 63, 66);
    letter-spacing: .5px;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-animation-name:slide-fader;
    -webkit-animation-duration:2.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-in-out;
    animation-name:slide-fader;
    animation-duration:2.5s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    font-weight: 500;
}

s-notify > div > button {
    color: rgb(252, 252, 252);
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: -4px;
    cursor: pointer;
}

@-webkit-keyframes slide-fader {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 6px; }
    90% { opacity: 1; top: 6px; }
    to { opacity: 0; top: 0; }
}

@keyframes slide-fader {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 6px; }
    90% { opacity: 1; top: 6px; }
    to { opacity: 0; top: 0; }
}

s-modal {
    top: 0; bottom: 0;
    left: 0; right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition-duration: 120ms;
    -o-transition-duration: 120ms;
    transition-duration: 120ms;
}

s-modal.active {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 1;
}

s-modal .modal {
    height: 480px;
    width: 380px;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
}

s-modal .modal div {
    height: 396px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
}

.modal .title {
    font-size: 30px;
    padding: 12px 16px;
    margin: 4px;
    display: block;
}

.modal * {
    white-space: nowrap;
}

.modal label {
    margin: 15px 20px;
    max-width: calc(100% - 40px);
}

.modal label input-disp {
    display: inline-block;
    width: 330px;
}